<html>
<head>
    <title>Raffle</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
</head>

<body>
    <div class="container">
        <div class="center-block">
            <div id="raffle" class="well" data-result-url="{{ path_for('result') }}">
                <h1 class="title animated infinite flip">Humanity</h1>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://code.createjs.com/soundjs-0.6.2.min.js"></script>
    <script>
        (function() {
            var $raffle = $('#raffle');

            function _pollStatus() {
                setTimeout(function () {
                    $.ajax({
                        url: $raffle.data('result-url'),
                        success: function (data) {
                            _handleResult(data.result);
                        },
                        dataType: 'json',
                        complete: _pollStatus,
                        cache: false
                    });
                }, (Math.floor(Math.random() * 4) + 5) * 1000);
            }

            function _handleResult(result) {
                switch (result) {
                    case 'winner' :
                        break;
                    case 'miss' :
                        break;
                    default :
                        break;
                }
                $raffle.html(result);
            }

            _pollStatus();
        })();
    </script>
</body>
</html>
