<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta http-equiv="refresh" content="10">

    <title>Raffle Admin</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Raffle management</h1>

            <p>
                Contestants: {{ contestants_count|e }}
                Winners: {{ winners_count|e }}
            </p>

            <form name="manage" role="form" method="post">
                <button type="button" data-action="{{ path_for('open') }}" class="btn btn-lg btn-success">Open</button>

                {% if is_open and contestants_count > 0 %}
                <button type="button" data-action="{{ path_for('close') }}" class="btn btn-lg btn-warning">Close</button>
                {% endif %}

                {% if is_closed and contestants_count > 0 %}
                <button type="button" data-action="{{ path_for('draw') }}" class="btn btn-lg btn-primary">Draw winner</button>
                {% endif %}
            </form>
        </div>
    </div> <!-- /container -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(function() {
            $('form[name="manage"] button').click(function(e) {
                e.preventDefault();

                var $this = $(this);

                $this.parent('form')
                    .attr('action', $this.data('action'))
                    .submit();
            });
        });
    </script>
</body>
</html>
